body {
  background-image: url("starsbackground.jpg");
  text-align: center;
  margin: auto;
  font-family: Palatino, serif;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}





